.navbar {
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
  }
  .nav-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 2vw;
    margin: 0;
    padding: 0;
  }
  .nav-item {
    margin: 0;
    padding: 0;
  }
  .nav-item a {
    text-decoration: none;
    color: var(--background);
    font-weight: bold;
    font-size: 2vh;
    transition: color 0.3s ease;
  }
  .nav-item a:hover {
    color: var(--accent);
  }
  .logout-button {
    background-color: var(--secondary);
    color: var(--text);
    border: none;
    padding: 1vh 2vw;
    font-weight: bold;
    font-size: 1.8vh;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .logout-button:hover {
    background-color: var(--accent);
    color: var(--background);
  }
  .logout-button-container {
    display: flex;
    align-items: center;
  }
  .navbar-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px;
    background-color: #256cdf; 
  }
  
  #webHeader {
    color: white;
    font-size: 2.7vw; 
    margin: 0; 
  }